body {
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7deb0;
    line-height: 1.6;
}

.header {
    text-align: center;
    margin-bottom: 30px;
    font-size:100px;
}

.header h1 {
    color: #008a85;
    margin-bottom: 5px;
    font-size:100px;
}

.header h2 {
    color: #666;
    margin-top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    border-bottom: 4px solid #000;
    border-top: 4px solid #000;
}


.navigation {
    text-align: center;
    margin-bottom: 40px;
}

.navigation a {
    color: #8B0000;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.navigation a:hover {
    text-decoration: underline;
}

.content {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.year-section {
    margin-bottom: 30px;
}

.year-section h3 {
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.news-item {
    margin-bottom: 15px;
}


.right-block {
    float: right;
    width: 30%;
    border-left: 3px solid #000;
    /* background-color: #f7deb0; */
    padding: 16px;
    margin: 16px;
}


a {
    color: #8B0000;
}

.figure {
    padding:16px;
    margin:16px;
}

.container {
    display: flex;
    flex-direction: column;
}
